.actions {
  display: flex;
  gap: 10px;

  .edit {
    cursor: pointer;
    background-color: #1677ff;
    border-radius: 8px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
  }
  .delete {
    cursor: pointer;
    background-color: #ff4d4f;
    border-radius: 8px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
  }
}
